In [1]:
import os
import re
import numpy as np
import pandas as pd
from sklearn.preprocessing import scale

# Plotting
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [177]:
# cik to ticker number dataset

cik=pd.read_csv('cik.txt', sep='\t',header=None,)
cik=cik.rename(columns={0:'ticker',1:'cik'})
cik['ticker']=cik['ticker'].str.upper()
#industry dataset
industry = pd.read_csv('gvacwzxxaku648ow.csv')
#revenue dataset
revenue= pd.read_csv('revenue.csv')
revenue['year'] = pd.DatetimeIndex(revenue['date']).year
# ratios data roe boek to market
ratios = pd.read_csv('ratios.csv')
ratios['month_year'] = pd.to_datetime(ratios['date']).dt.to_period('M')
#insert the beta dataset
betas= pd.read_csv('0hbtg2fwhrp54kma.csv')

betas=betas.rename(columns={'DATE':'filing_date','TICKER':'ticker'})
betas['filing_date']=pd.to_datetime(betas['filing_date'])
betas


stock_returns= pd.read_csv('mpfpz39cfum72pwp.csv')
stock_returns=stock_returns.rename(columns={'TICKER':'ticker'})
stock_returns['date']=pd.to_datetime(stock_returns['date'])

C:\Users\Mia\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [178]:

df_fin=pd.read_csv('finbert_2021.csv')
df_fin

,cik,filing_date,negative,neutral,positive,tone_finbert,tone_finbert_normalized,year
0,1001082,22/02/2021,87.0,352,24.0,-0.567568,-1.903286,2021
1,1001250,27/08/2021,39.0,211,106.0,0.462069,1.315422,2021
2,1002047,21/06/2021,42.0,196,30.0,-0.166667,-0.650045,2021
3,1002910,22/02/2021,50.0,435,35.0,-0.176471,-0.680692,2021
4,100493,15/11/2021,51.0,292,42.0,-0.096774,-0.431557,2021
...,...,...,...,...,...,...,...,...
6460,1012100,27/03/2000,NaN,1,NaN,NaN,NaN,2000
6461,1032033,29/03/2000,30.0,197,26.0,-0.071429,-0.406419,2000
6462,1032208,29/03/2000,NaN,1,NaN,NaN,NaN,2000
6463,1041061,06/03/2000,48.0,213,103.0,0.364238,0.821649,2000
6464,1048286,10/03/2000,13.0,82,24.0,0.297297,0.632954,2000

In [179]:
vix = pd.read_csv('vix.csv')
df_fin['filing_date']=pd.to_datetime(df_fin['filing_date'])
vix['filing_date']=pd.to_datetime(vix['filing_date'])
df_fin=df_fin.merge(vix, on='filing_date', how='inner')
df_fin.dropna()

,cik,filing_date,negative,neutral,positive,tone_finbert,tone_finbert_normalized,year,vix
0,1001082,2021-02-22,87.0,352,24.0,-0.567568,-1.903286,2021,23.45
1,1002910,2021-02-22,50.0,435,35.0,-0.176471,-0.680692,2021,23.45
3,1041061,2021-02-22,36.0,247,28.0,-0.125000,-0.519792,2021,23.45
5,1059556,2021-02-22,20.0,269,25.0,0.111111,0.218306,2021,23.45
6,1071739,2021-02-22,24.0,276,36.0,0.200000,0.496178,2021,23.45
...,...,...,...,...,...,...,...,...,...
7054,858877,2000-09-29,16.0,66,7.0,-0.391304,-1.308093,2000,20.57
7059,1002047,2000-12-07,10.0,60,14.0,0.166667,0.264729,2000,20.03
7060,1002047,2000-12-07,10.0,60,14.0,0.166667,0.264729,2000,20.03
7061,1041061,2000-06-03,48.0,213,103.0,0.364238,0.821649,2000,21.50
7062,1041061,2000-06-03,48.0,213,103.0,0.364238,0.821649,2000,21.50

In [180]:

df_fin['normalized_all']=scale(df_fin['tone_finbert'])
df_fin['length']=df_fin['negative']+df_fin['positive']+df_fin['neutral']

In [181]:
df_fin['year'] = pd.DatetimeIndex(df_fin['filing_date']).year
df_fin['filing_date'] = pd.to_datetime(df_fin['filing_date'])
df_fin['quarter'] = pd.PeriodIndex(df_fin['filing_date'], freq='Q')
df_fin=df_fin.dropna()
df_fin

,cik,filing_date,negative,neutral,positive,tone_finbert,tone_finbert_normalized,year,vix,normalized_all,length,quarter
0,1001082,2021-02-22,87.0,352,24.0,-0.567568,-1.903286,2021,23.45,-2.044859,463.0,2021Q1
1,1002910,2021-02-22,50.0,435,35.0,-0.176471,-0.680692,2021,23.45,-0.856491,520.0,2021Q1
3,1041061,2021-02-22,36.0,247,28.0,-0.125000,-0.519792,2021,23.45,-0.700095,311.0,2021Q1
5,1059556,2021-02-22,20.0,269,25.0,0.111111,0.218306,2021,23.45,0.017341,314.0,2021Q1
6,1071739,2021-02-22,24.0,276,36.0,0.200000,0.496178,2021,23.45,0.287434,336.0,2021Q1
...,...,...,...,...,...,...,...,...,...,...,...,...
7054,858877,2000-09-29,16.0,66,7.0,-0.391304,-1.308093,2000,20.57,-1.509274,89.0,2000Q3
7059,1002047,2000-12-07,10.0,60,14.0,0.166667,0.264729,2000,20.03,0.186149,84.0,2000Q4
7060,1002047,2000-12-07,10.0,60,14.0,0.166667,0.264729,2000,20.03,0.186149,84.0,2000Q4
7061,1041061,2000-06-03,48.0,213,103.0,0.364238,0.821649,2000,21.50,0.786481,364.0,2000Q2
7062,1041061,2000-06-03,48.0,213,103.0,0.364238,0.821649,2000,21.50,0.786481,364.0,2000Q2

In [182]:
data3=df_fin.merge(cik, on='cik', how='inner')
data3.drop_duplicates(subset=['cik','year'], keep='first', inplace=True, ignore_index=True)

In [183]:
#create dates for the event study
data3['end']= data3['filing_date']+pd.tseries.offsets.BusinessDay(-1)# end date 
data3['start']= data3['filing_date']+pd.tseries.offsets.BusinessDay(-1)#start date -1 is event date minus one

In [184]:
data3['date'] = list(map(lambda x, y: pd.date_range(start=x, end=y),
                      data3['start'], 
                      data3['end']))
data3 = (data3.explode('date'))

In [185]:
#merge the data3  with the stock returns
data3['date']=pd.to_datetime(data3['date'])
merged3=data3.merge(stock_returns, on=['ticker','date'], how='inner')

In [186]:
merged3['AR']=merged3['RETX'].astype(float)-merged3['sprtrn']

In [187]:
merged4=merged3.merge(betas, on=['filing_date','ticker'], how='left')

In [188]:
merged4['CAR']=merged4['AR']*merged4['b_mkt']

In [189]:
abnormalreturns=merged4.groupby(['filing_date','vix','ticker','tone_finbert','normalized_all','tone_finbert_normalized','length'])['CAR','AR'].sum()
abnormalreturns=pd.DataFrame(abnormalreturns).reset_index()
abnormalreturns['quarter'] = pd.PeriodIndex(abnormalreturns['filing_date'], freq='Q')

<ipython-input-189-79942f9e05e5>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  abnormalreturns=merged4.groupby(['filing_date','vix','ticker','tone_finbert','normalized_all','tone_finbert_normalized','length'])['CAR','AR'].sum()

In [190]:
#add ratios
#ratios['year']=pd.DatetimeIndex(ratios['date']).year
ratios['month_year'] = pd.to_datetime(ratios['date']).dt.to_period('M')

abnormalreturns['month_year'] = pd.to_datetime(abnormalreturns['filing_date']).dt.to_period('M')
abnormalreturns= abnormalreturns.merge(ratios, on=['ticker','month_year'], how='inner')

In [191]:
revenue['year'] = pd.DatetimeIndex(revenue['date']).year

abnormalreturns['year']=pd.DatetimeIndex(abnormalreturns['filing_date']).year
abnormalreturns= abnormalreturns.merge(revenue, on=['ticker','year'], how='inner')

In [193]:
y = abnormalreturns['CAR']
X = abnormalreturns[[]]
X = sm.add_constant(X)
model11 = sm.OLS(y, X.astype(float)).fit()

In [176]:
correaltionmatrix=abnormalreturns[['tone_finbert', 'roe','normalized_all', 'CAR','length','de_ratio','vix']]
correaltionmatrix.corr()